<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SingleItemMapper">
	<!-- 维护供应商信息 -->
	<insert id="insert" parameterType="pd">
		insert into singleitem 
		(id,name,shortName,richText,manufactor,type_id,shelfLifeData,storage_con,barCode,UOV_id,
		specs,normalPrice,linePrice,membePrice,bigPicture,smallPicture,videoUrl,state_id,remarks)
		values
		(#{id},#{name},#{shortName},#{richText},#{manufactor},#{typeId},#{shelfLifeData},#{storageCon},#{barCode},
		#{uovId},#{specs},#{normalPrice},#{linePrice},#{membePrice},#{bigPicture},#{smallPicture},#{videoUrl},#{stateId},
		#{remarks}
		)
	</insert>
	<delete id="delById" parameterType="pd">
		delete from singleitem where id = #{id}
	</delete>
	<update id="updateById" parameterType="pd">
		update singleitem 
		<set>
			<if test='id!=null and id!=""'>
				id = #{id},
			</if>
			<if test='name!=null and name!=""'>
				name = #{name},
			</if>
			<if test='shortName!=null and shortName!=""'>
				shortName = #{shortName},
			</if>
			<if test='richText!=null and richText!=""'>
				richText = #{richText},
			</if>
			<if test='manufactor!=null and manufactor!=""'>
				manufactor = #{manufactor},
			</if>
			<if test='typeId!=null and typeId!=""'>
				type_id = #{typeId},
			</if>
			<if test='shelfLifeData!=null and shelfLifeData!=""'>
				shelfLifeData = #{shelfLifeData},
			</if>
			<if test='inventoryConditions!=null and inventoryConditions!=""'>
				storage_con = #{storageCon},
			</if>
			<if test='barCode!=null and barCode!=""'>
				barCode = #{barCode},
			</if>
			<if test='uovId!=null and uovId!=""'>
				uov_id = #{uovId},
			</if>
			<if test='specs!=null and specs!=""'>
				specs = #{specs},
			</if>
			<if test='normalPrice!=null and normalPrice!=""'>
				normalPrice = #{normalPrice},
			</if>
			<if test='linePrice!=null and linePrice!=""'>
				linePrice = #{linePrice},
			</if>
			<if test='membePrice!=null and membePrice!=""'>
				membePrice = #{membePrice},
			</if>
			<if test='bigPicture!=null and bigPicture!=""'>
				bigPicture = #{bigPicture},
			</if>
			<if test='smallPicture!=null and smallPicture!=""'>
				smallPicture = #{smallPicture},
			</if>
			<if test='videoUrl!=null and videoUrl!=""'>
				videoUrl = #{videoUrl},
			</if>
			<if test='stateId!=null and stateId!=""'>
				state_id = #{stateId},
			</if>
			<if test='remarks!=null and remarks!=""'>
				remarks = #{remarks},
			</if>
		</set>
		where id = #{id}
	</update>
	<select id = "querylistPage" parameterType="Page"  resultType="pd">
		select id,name,shortName,richText,manufactor,b.type_name typeName,shelfLifeData,storage_con storageCon,barCode,c.UOV_name uovName,
		specs,normalPrice,linePrice,membePrice,bigPicture,smallPicture,videoUrl,d.state_name stateName,remarks
		from singleitem a
		left join singleitem_type b on a.type_id=b.type_id
		left join singleitem_uov c on a.uov_id = c.uov_id
		left join singleitem_state d on a.state_id = d.state_id
		<where>
			<if test="pd.name!=null and pd.name!=''">
				and name like '%${pd.name}%'
			</if>
			<if test="pd.typeId!=null and pd.typeId!=''">
				and type_id = #{pd.typeId}
			</if>
			<if test="pd.manufactor!=null and pd.manufactor!=''">
				and manufactor = #{pd.manufactor}
			</if>
			<if test="pd.minPrice!=null and pd.minPrice!=''">
				and normalPrice &gt; #{pd.minPrice}
			</if>
			<if test="pd.maxPrice!=null and pd.maxPrice!=''">
				and normalPrice &lt; #{pd.maxPrice}
			</if>
		</where>
	</select>
	
	<select id="queryById" parameterType="pd" resultType="pd">
		select id,name,shortName,richText,manufactor,type_id typeId,shelfLifeData,storage_con storageCon,barCode,UOV_id uovId,
		specs,normalPrice,linePrice,membePrice,bigPicture,smallPicture,videoUrl,state_id stateId,remarks
		from singleitem
		<where>
			<if test="id!=null and id!=''">
				id = #{id}
			</if>
		</where>
	</select>
	
	<!-- 查询所有单品的id和name -->
	<select id="getAllIdName" resultType="java.util.Map">
		select id,name from singleitem
	</select>
	
	<!-- 查询所有计价单位 -->
	<select id="getAllUov" resultType="java.util.Map">
		select uov_id uovId,uov_name uovName from singleitem_uov
	</select>
</mapper>







